<%- include("partials/header") -%>
<h1>Compose</h1>
<form action="/compose" method="POST">
    <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <input type="text" class="form-control" id="Title" name="title" >
      </div>
      <div class="mb-3">
        <label for="Post" class="form-label">Post</label>
        <textarea type="text" class="form-control" id="Post" name="post" rows="6" cols="100"></textarea>
      </div>
      <button type="submit" class="btn btn-primary publish">Publish</button>
</form>
<%- include("partials/footer") -%>
